/* ======================================================== header */

/* ======================================================== - */

/* ======================================================== main */

/* ======================================================== HERO */

/* ===========================================================  about */

/* ==========================================================  team */

/* .social-network-icon:hover,
.social-network-icon:focus {
  fill: var(--main-light-color);
} */

/* team-end */

/* clients */

/* main end */

/* footer */

/* footer end */

/* main p2 */

/* modal */

/* ============================ end modal */

/* ================================form */

/* =================================  modal-form */

/* ==================================  end modal */

/* mailing-form */

/*end mailing-form */

.text {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.konvpalto {
  margin-top: 10px;
  margin-bottom: 10px;
}

.yoda {
  width: 800px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.neyoda {
  width: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
}
