.benefits {
  &__icon-wrapper {
    max-width: 100%;
    height: 120px;
    background-color: var(--second-light-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-bottom: 30px;
    @extend %align;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    color: var(--secondary-dark-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }
}

@media screen and (max-width:767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
    
  .benefits__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width:1199px) {
  .benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
      flex-basis: calc(50% - 15px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
