.modal-window {
  @include Ñentering-xy_scailing();
  padding: 40px;
  min-height: 609px;
  width: calc(100% - 30px);
  max-width: 450px;
  background-color: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform, scale;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .modal-window {
    min-height: 581px;
    width: 528px;
  }
}

.modal-btn-close {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  @extend %align;
  background-color: var(--main-light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.modal-button-icon-close {
  width: 18px;
  height: 18px;
  fill: var(--main-dark-color);

  .modal-btn-close > & {
    transition-property: fill;
    transition-duration: var(--timing-duration);
    transition-timing-function: var(--timing-function);
  }

  .modal-btn-close:hover > &,
  .modal-btn-close:focus > & {
    fill: var(--accent-color);
  }
}

@media screen and (max-height: 570px) {
  .modal-window {
    top: 20px;
    transform: translate(-50%, 0) scale(1);
  }
}
