:root {
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --main-dark-color: #000;
  --main-light-color: #ffffff;
  --second-light-color: #f5f4fa;
  --accent-color: #2196f3;
  --main-color: #757575;
  --secondary-dark-color: #212121;
  --secondary-bc-color: #2f303a;
  --border-color: #ececec;
  --sec-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --in-top-gap: 94px;
  --in-bottom-gap: 94px;
  --timing-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
